main {
	grid-template-columns: 1fr;
	grid-gap: 50px;
	max-width: 500px;
}

header {
	justify-content: center;
	margin-top: 30px;
}

header h1 {
	display: none;
}

main p {
	margin-top: 30px;
	text-align: justify;
}

main h1 {
	text-align: center;
}

main button {
	align-self: center;
}

footer {
	margin-top: 50px;
}